html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;

}

.container {
    max-width: 900px;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header";
}

.img-container {
    position: relative;
    /* border: 5px solid red; */

    margin: 2em 1em;
}
.dog-image {
    width: 100%;
    border-radius: 15px;
}

.p1,
.p2 {
    position: absolute;
    color: white;
    margin-left: 12px;
    line-height: 150%;
}

.p1 {
    bottom: 55px;
    font-size: 2rem;
    font-weight: 600;
}

.p2 {
    font-size: 1.5rem;
    font-weight: 400;
    bottom: 17px;
    color: #B7B7B7;
}


header {
    display: flex;
    height: 150px;
    justify-content: space-between;
    grid-area: header;
    /* align-content: center; */
}

header img {
    padding:3em 1.5em 1em 1.5em;
}



footer {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    gap: 1em;
}


.ellipse1,.ellipse2 {
    width: 125px;
    height: 125px;
    background-color: white;
    margin: 0 1em;
    border-radius: 50%;
    display: flex;
}

.ellipse1:hover {
    background-color:#FFE7EF;

}

.ellipse2:hover {
    background-color: #DBFFF4;
}

 .accept {
    width: 41px;
    height: 36px;
    padding: 2.25em;
    justify-content: center;
    
}

.reject {
    width: 26px;
    height: 26px;
    padding: 2.25em;
}

.ellipse:hover {
    background-color: #fde2e4;
}

.rec {
    top: 45px;
    left: 15px;
    position: absolute;
    display: flex;
    transform: rotate(-35deg);
}

.like,.dislike {
    width: 173px;
    height: 90px;
    margin: auto;
}
