html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header";
}

.img-container {
    position: relative;
    display: flex;
    margin: 0 1.5em;
}
.dog-image {
    width: 100%;
    border-radius: 15px;
}

.pdiv {
    position: absolute;
    color: white;
    margin-left: 12px;
    line-height: 150%;
    bottom: 15px;
}

.p1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.p2 {
    font-size: 0.75rem;
    font-weight: 400;
    color: #B7B7B7;
    margin: 0;
    padding-left: 1em;
    padding-right: 0.5em;
}

.pdiv {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    grid-area: header;
}

header img {
    padding: 1.75em;
}



footer {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    gap: 1.25em;
}


.ellipse1,.ellipse2 {
    width: 70px;
    height: 70px;
    background-color: white;
    margin: 0 1em;
    border-radius: 50%;
    display: flex;
}
.ellipse1 {
    margin-right: 0;
}
.ellipse2 {
    margin-left: 0;
}
.ellipse1:hover {
    background-color:#FFE7EF;
}

.ellipse2:hover {
    background-color: #DBFFF4;
}

 .accept {
    width: 41px; 
    height: 36px;
    margin: auto;
}

.reject {
    width: 26px;
    height: 26px;
    margin: auto;
}

.ellipse:hover {
    background-color: #fde2e4;
}

.rec {
    top: 60px;
    left: 15px;
    position: absolute;
    display: flex;
    transform: rotate(-35deg);
}

.like,.dislike {
    width: 220px;
    height: 100px;
    margin: auto;
}

@media(min-width:576px){

    header {
        width: 80%;
    }
    
    header img {
        padding: 1.25em;
    }

    .dog-image {
        width: 80%;
        border-radius: 15px;
    }

    footer {
        width: 80%;
    }

    .pdiv {
        width: 80%;
    }

    .p1 {
        font-size: 1.5rem;
    }
    .p2 {
        font-size: 1rem;
    }
}